<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
         width="{{ .Site.Params.logo.width }}" 
         height="{{ .Site.Params.logo.height }}" 
         alt="{{ .Site.Params.logo.alt }}">
    <p class="nav-title"> {{ .Site.Title }} </p>
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li>
      {{ if or (eq .Name "About") (eq .Name "Tags") }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ else }}
        <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
